<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EpiNet.Win.Properties.Settings.DBEPINETConnectionString"
            connectionString="Data Source=(local);Initial Catalog=DBEPINET_TEST;Persist Security Info=True;User ID=sa;Password=DBSL1N3T2020hwl"
            providerName="System.Data.SqlClient" />
        
    </connectionStrings>
</configuration>